.Editor {
    display: flex;
    flex-direction: row;
    align-self: center;
    width:100%;
    height:100%;
    justify-content: space-between;
    background-color: #303030;
    padding: 20px;
    border-radius: 10px;

    input {
        width: 100%;
        height: 40px;
    }

    .settings {
        //height: 100%;
        display: flex;
        flex-direction: column;
        width: 33%;
        padding: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color:#212121;

        input {
            margin-bottom: 10px;
            background-color: unset;
            color: white;
            border: unset;
            border-bottom: 2px solid #1eb5a9;
            z-index: 10;
        }

        input, label {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        label {
            margin: 0 auto;
            padding: 0 0 5px 0;
            top: 0;
            z-index: 1;
        }
    }

    .inputContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;

        textarea {
            &.small {
                height: 250px;
                width:100%;
            }

            &.large {
                height: 500px;
                width: 100%;
            }
        }
    }
}

.Column {
    display: flex;
    flex-direction: column;
    width:100%;
}

.Row {
    display: flex;
    flex-direction: row;
}